<% if @top_books.size > 0%>
  <div class="container-fluid bg-info my-2">
    <h2 class="hero-text"> Most rated books.Buy Now </h2>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators m-0">
        <% (0...@top_books.length).each do |index| %>
          <% if index == 0 %>
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <% else %>
            <li data-target="#carouselExampleIndicators" data-slide-to="<%= index %>"></li>
          <% end %>  
        <% end %>
      </ol><!-- set the indicator -->
      <div class="carousel-inner">
        <% (0...@top_books.length).each do |index| %>
          <% if index == 0 %>
            <div class="carousel-item active">
              <div class="row justify-content-around" style="text-align: center">
                  <div class="col-4">
                    <%= link_to image_tag(@top_books[0].resize_image_for_home_page, class:"my-4" ), @top_books[0]  %>
                  </div>
                  <div class="col-4 mr-4">
                    <h3 class="top-book-text">Written By <strong><%= @top_books[0].book_detail.author.name %></strong> </h3>
                  </div>
              </div>
            </div>
          <% else %>
            <div class="carousel-item">
              <div class="row justify-content-around" style="text-align: center">
                <div class="col-4">
                  <%= link_to image_tag(@top_books[index].resize_image_for_home_page , class:"my-4" ), @top_books[index] %>
                </div>
                <div class="col-4 mr-4">
                  <h3 class="top-book-text"> Written By <strong><%= @top_books[index].book_detail.author.name %></strong> </h3>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
<% else %>
  <%= render partial:"nodata" %>
<% end %>

<% if @new_books.size > 0 %>
<div class="hero-image">
  <div class="container">
    <div class="row">
      <% @new_books.each do|book| %>
        <div class="col-sm-4 new-book-img">  
          <%= link_to image_tag(book.resize_image_for_home_page , class:"mt-3"), book %> 
        </div>
      <% end %>
    </div>
  </div>
  <h2 class="hero-text"> Recently Added To Our Collection </h2>
</div>
<% else %>
  <%= render partial:"nodata" %>
<% end %>