
<div class="jumbotron jumbotron-fluid bg-light p-0">
  <div class="container">
    <div class="row">
      <div class="col-sm-3 mt-5">
        <%= image_tag current_user.image , id:"profileimg" %>
      </div>
      <div class="col-sm-9 profile-data mt-2">
        <strong>Username: </strong><p><%= current_user.username.capitalize()%></p>
        <strong>Email: </strong><p><%= current_user.email%></p>
        <strong>Total post: </strong><p><%= current_user.user_books.size %></p>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="book-index-grid">
    <% current_user.user_books.each do |user_book| %>

      <div class="book  bg-light">
        <div class="book-thumb">
          <%= link_to image_tag(user_book.thumbnail(0)), user_book %>
        </div>
        <div class="p-3">
          <h3 class="title"><%= link_to user_book.book_detail.name.split.map(&:capitalize).join(' '), user_book %></h3>
          
          <p class="has-text-gray fg pt1">Written by <%= user_book.book_detail.author.name.split.map(&:capitalize).join(' ') %></p>
          <%= link_to user_book.book_detail.category.name , search_by_only_category_path(category_id:user_book.book_detail.category_id) , class:"badge badge-warning" %>
          <p class="price"><%= number_to_currency(user_book.price,unit: "RS:") %></p>
          <%= link_to "delete", user_book_path(user_book) , method: :delete ,data: { confirm: "Are you sure?" }, class:" badge badge-danger has-text-left"%>
        </div>    
      </div>
    <% end %>
  </div>
</div>

