<div class="card-grid bg-light mt-2 mb-2">
     <%= link_to image_tag(result.thumbnail(0)), result %>
     <div class="p-3">
        <div class="book-detail">
          <h3 class="title"><%= link_to result.book_detail.name.split.map(&:capitalize).join(' '), result %></h3>
          <p class="has-text-gray  pt1">Written by <%= link_to  result.book_detail.author.name.split.map(&:capitalize).join(' ') , "https://google.com"+result.book_detail.author.bio %></p>
          <a href="">
        </div>
        <div class="book-other-detail">
          <%= link_to result.book_detail.category.name , search_by_only_category_path(category_id:result.book_detail.category_id) , class:"badge badge-warning" %>
          <p><%= number_to_currency(result.price,unit: "RS:") %></p>
        </div>
    </div> 
    <% if book_exist_in_payment_mode?(result.id) %>
      <div class="bg-info text-center  p-2">
        <strong> Currently Not Available </strong>
      </div>
    <% elsif !owner_of_book?(result) %>
      <% if already_exist_in_cart?(current_user.id , result.id) %>
        <%= link_to '<button>Remove from Cart</button>'.html_safe , cart_path(result) , method: :delete , data: { confirm: "Are you sure?" }  %>
      <% else %>
        <%= link_to '<button>Add to Cart</button>'.html_safe, add_to_cart_path(id:result.id) %>
      <% end %>
    <% else %>
      <div class="bg-info text-center  p-2">
        <strong> Sell by you </strong>
      </div>
    <% end %>  
</div>   