<% if current_user.id ==2 %>
  <div class="tab">
    <% (0...@users.size).each do|index|%>
      <% if index == 0%>
         <button class="tablinks active" id="defaultOpen" data-chatinfo="<%= @users[index].subscription.chat_id %>"><%= @users[index].username %></button>
         <%="<span class='badge badge-success'>online</span>".html_safe if @users[index].last_seen_at > 3.minutes.ago %>
         <span class="ml-1"> <%= time_ago_in_words(@users[index].last_seen_at) if @users[index].last_seen_at < 3.minutes.ago %> </span>
      <% else %>
        <button class="tablinks" data-chatinfo="<%= @users[index].subscription.chat_id %>"><%= @users[index].username %></button>
        <%="<span class='badge badge-success'>online</span>".html_safe if @users[index].last_seen_at > 3.minutes.ago %>
        <span class="ml-1"> <%= time_ago_in_words(@users[index].last_seen_at) if @users[index].last_seen_at < 3.minutes.ago %> </span>
      <% end %>
      <hr class="my-0">
    <% end %>
  </div> <!-- load all user -->

  <div class="tabcontent" id="content">
    <h3><%=@users[0].username%></h3>
    <strong><small></small></strong>
    <hr class="my-0">
      <div id="pushcontent">
        <%= render partial: "display", collection: @messages, as: :msg  %>
      </div>
      <div>
        <%= render 'admin/chat_form' , user:@users[0] %>
      </div>
  </div>
<% else %>
<!-- user will talk to the admin -->
<div class="card cardtabcontent" id="content">
  <div class="card-header">
    Admin (<small><Strong> admin will reply you shortly </strong></small>)
  </div>
  <div class="card-body">
    <div id="pushcontent">
      <%= render partial: 'display' , collection:@messages , as: :msg  %>
    </div>
    <div>
      <%= render 'admin/chat_form' , user:current_user %>
    </div>
  </div>
</div>
<% end %>
<%= link_to "list user details" , details_path  if current_user.id == 2 %>
<!--
<button id="foo" data-info="6">Click</button>
<h1 id="hoo">This</h1>

<input type="checkbox" data-remote="true" data-url="/check" data-params="chatid=something" data-method="get">
<h1 id="hoo">Haha ha ha</div>
-->
