<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 pl-0 pr-0">
      <nav class="navbar navbar-expand-lg bg-dark">
        <%= link_to image_tag("Bookshop-Logo.jpg",class:"nav-image"), root_path %>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                  <%= link_to "Profile", profile_path,class:"nav-link" %>
                </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">Notifications</a>
              </li>
              <li class="nav-item">
                  <%= link_to "Add book", new_user_book_path ,class:"nav-link" %>
              </li>
              <li class="nav-item">
                  <button class="nav-link" id="categoryid">Category</button>
              </li>
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Options
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <%= link_to "Advance Search", advance_search_path , class:"dropdown-item"%>
                    <%= link_to "Edit Account", edit_user_registration_path , class:"dropdown-item"%>
                    <%= link_to "Edit Password", edit_user_password_path , class:"dropdown-item"%>
                    <a class="dropdown-item" href="#"> Delete Account </a>
                  <div class="dropdown-divider"></div>
                  <%= link_to "Logout", destroy_user_session_path, method: :delete %>
                 </div>
              </li>
            </ul>
          </div>
          <%= render 'layouts/search_form' %>
          <div>
            <%= link_to image_tag("shopping-cart.jpg",height:"35",width:"40"), '#' %>
            <span class="badge badge-light">9+</span>
          </div>
      </nav>
    </div>
  </div>
</div>
<div class="container-fluid category-toggle bg-light mb-2" style="display:none; padding:1rem;">
  <% Category.all.each do |category| %>
        <%= link_to category.name , search_by_only_category_path(category_id:category.id) , class:"badge badge-info" %>
  <% end %>
</div>

