<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'user' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>  
  </head>
  <body>
    <%= render "layouts/global_notification"%>
    <%= yield %>
  </body>
</html>
