<div class="container mb-3">
  <div class="row">
    <div class="col-sm-6 bg-white fit">
       <%= image_tag ( "book_pc_for_log_page.jpg"), alt:"book.jpg",class:"img-inside-div" %>
    </div>
    <div class="col-sm-6 bg-white">
    <%= render "devise/shared/error_messages", resource: resource %>
      <div style="margin-top:30%;">
          <%= form_for @user,url:user_registration_path,local:true do |form| %>
              <div class="d-flex justify-content-center mx-auto main-label" >
                <h2>Sign In</h2>
              </div>
               <div class="form-group">
                <%= form.text_field:username,class: "form-control text-box",id: "username" , placeholder: "Enter Username",required:true %>
              </div>
              <div class="form-group">
                <%= form.email_field:email,class: "form-control text-box",id: "email" , placeholder: "Enter Email",required:true %>
              </div>
              <div class="form-group">
                <%= form.password_field:password,class: "form-control text-box",id: "password" , placeholder: "Password",required:true %>
              </div>
               <div class="form-group">
                <%= form.password_field:password_confirmation,class: "form-control text-box",id: "confirmpassword" , placeholder: "Must be same as password", required:true %>
              </div>
              <div class="form-group justify-content-center d-flex">                
                <%= button_tag "create", type: 'submit' , class: "btn btn-primary button-submit"%>
              </div>
          <% end %>
          <%= render "users/shared/links" %>
          <%= render "users/shared/socialmedia"%>
      </div>
    </div>
  </div>
</div>